{% extends "shop/base.html" %}
{% load static %}
{% load i18n %}
{% block title %}
  {% if category %}{{ category.name }}{% else %}Products{% endif %}
{% endblock %}
{% block content %}
  <div id="sidebar">
    <h3>{% trans "Категории" %}</h3>
    <ul>
      <li {% if not category %}class="selected"{% endif %}>
        <a href="{% url 'shop:product_list' %}">{% trans "Все товары" %}</a>
      </li>
      {% for c in categories %}
       {% if c.slug != 'upsales' %}
        <li {% if category.slug == c.slug %}class="selected" {% endif %}>
          <a href="{{ c.get_absolute_url }}">{{ c.name }}</a>
        </li>
        {% endif %}
      {% endfor %}
    </ul>
  </div>
  <div id="main" class="product-list">
    <h1>{% if category %}{{ category.name }}{% else %}{% trans "Товары" %}{% endif %}</h1>
    {% for product in products %}
      {% if product.category.slug != 'upsales' %}
      <div class="item">
        <a href="{{ product.get_absolute_url }}">
          <img src="{% if product.image %}{{ product.image.url }}{% else %}{% static 'img/no_image.png' %}{% endif %}">
        </a>
        <a href="{{ product.get_absolute_url }}">{{ product.name }}</a>
        <br>
        {{ product.price }} руб.
      </div>
      {% endif %}
    {% endfor %}
  </div>
{% endblock %}
